
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Code:</b>
  <%= @project.code %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Project owner:</b>
  <% full_name = "#{@project.employee.first_name} #{@project.employee.last_name}" %>
  <%= full_name %>
</p>

============================================<br>
<% @project.items.each do |item| %>
	<p>
	  <b>Vendor:</b>
	  <%= item.vendor %>
	</p>

	<p>
	  <b>Vendor email:</b>
	  <%= item.vendor_email %>
	</p>

    <p>
      <b>Item no:</b>
      <%= item.item_no %>
    </p>

    <p>
      <b>Source from:</b>
      <%= item.source_from %>
    </p>

	<p>
	  <b>Vendor brand:</b>
	  <%= item.vendor_brand %>
	</p>

	<p>
	  <b>Model no:</b>
	  <%= item.model_no %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= item.description %>
	</p>

	<p>
	  <b>Fob:</b>
	  <%= item.fob %>
	</p>

	<p>
	  <b>Fob port:</b>
	  <%= item.fob_port %>
	</p>

	<p>
	  <b>Payment terms:</b>
	  <%= item.payment_terms %>
	</p>

	<p>
	  <b>Moq:</b>
	  <%= item.moq %>
	</p>

	<p>
	  <b>Repeat order leadtime:</b>
	  <%= item.repeat_order_leadtime %>
	</p>

	<p>
	  <b>Packaging:</b>
	  <%= item.packaging %>
	</p>

	<p>
	  <b>Suggested retail:</b>
	  <%= item.suggested_retail %>
	</p>

	<p>
	  <b>Tooling complete:</b>
	  <%= item.tooling_complete %>
	</p>

	<p>
	  <b>Remarks:</b>
	  <%= item.remarks %>
	</p>

    <%= link_to 'Edit item', "/project/#{@project.id}/item/#{item.id}/edit" %> |
    <%= link_to 'Delete item', "/project/#{@project.id}/item/#{item.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>============================================<br>
<% end %>


<%= link_to 'Edit Project', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> | 
<%= link_to 'Add Item', "/project/#{@project.id}/item/new" %></td>

