
<div class="container">
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Code:</b>
  <%= @project.code %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Project owner:</b>
  <%= full_name = "#{@project.employee.first_name} #{@project.employee.last_name}" %>
</p>
</div>
============================================<br>
<table class="table table-striped">
  <tr>
    <td class="span2 left-side-header">Vendor</td>	
    <% @project.items.each do |item| %>
      <th><%= item.vendor %></th>
    <% end %>
  </tr>
    <td class="left-side-header">Vendor email</td>	
    <% @project.items.each do |item| %>
      <td><%= item.vendor_email %></td>
    <% end %>
  </tr>
  <tr>
    <td class="left-side-header">Item #</td>	
    <% @project.items.each do |item| %>
      <td><%= item.item_no %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Source from</td>	
    <% @project.items.each do |item| %>
    <td><%= item.source_from %></td>
  <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Vendor brand</td>	
    <% @project.items.each do |item| %>
      <td><%= item.vendor_brand %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Model #</td>	
    <% @project.items.each do |item| %>
      <td><%= item.model_no %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Descrption</td>
    <% @project.items.each do |item| %>
      <td><%= item.description %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">FOB (US$)</td>
    <% @project.items.each do |item| %>
      <td><%= item.fob %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Payment terms</td>
    <% @project.items.each do |item| %>
      <td><%= item.payment_terms %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">MOQ (pieces)</td>
    <% @project.items.each do |item| %>
      <td><%= item.moq %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Repeat Order Lead-time (days)</td>
    <% @project.items.each do |item| %>
      <td><%= item.repeat_order_leadtime %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Packaging</td>
    <% @project.items.each do |item| %>
      <td><%= item.packaging %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Suggested Retail (US$)</td>
    <% @project.items.each do |item| %>
      <td><%= item.suggested_retail %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Tooling complete (Y/N)</td>
    <% @project.items.each do |item| %>
      <td><%= item.tooling_complete %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Remarks</td>
    <% @project.items.each do |item| %>
      <td><%= item.remarks %></td>
    <% end %>
  </tr>

  <tr>
  	<td class="left-side-header">Edit</td>
    <% @project.items.each do |item| %>
      <td><%= link_to 'Edit', "/project/#{@project.id}/item/#{item.id}/edit" %></td>
    <% end %>
  </tr>
  <tr>
  	<td class="left-side-header">Delete item</td>
    <% @project.items.each do |item| %>
      <td><%= link_to 'Delete', "/project/#{@project.id}/item/#{item.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
 
</table>

 

<%= link_to 'Edit Project', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> | 

<% if current_user.system_admin || (current_user.id == @project.employee_id) %>
  <%= link_to 'Add Item', "/project/#{@project.id}/item/new" %></td>
<% end %>
